APP_NAME="smart-educator"
APP_VERSION="0.1"
GEMINI_API_KEY=""

FILE_ALLOWED_TYPES=[ "text/plain" , "application/json","application/pdf"]
FILE_MAX_SIZE=10 # MB
FILE_DEFAULT_CHUNK_SIZE=512000 # 512kb

DATABASE_URL="postgresql+asyncpg://postgres:postgres@localhost:5432/smart_educator"

REDIS_HOST="localhost"
REDIS_PORT=6379
CHROMA_HOST="localhost"
CHROMA_PORT=8000
REDIS_TTL=86400